// imports
@font-face {
    font-family: 'Larsseit';
    src: url('../../assets/Larsseit/Larsseit.otf') format('opentype');
    src: url('../../assets/Larsseit/Larsseit-Medium.otf') format('opentype');
     src: url('../../assets/Larsseit/Larsseit-Thin.otf') format('opentype');
}


@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@700&display=swap');

// General Styles.scss
html {
    font-size: 125%;
}

body {
    font-family: 'Larsseit', sans-serif;
}

header, 
main {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 0.5em;
}

main {
    padding: 0px 60px 0 57.5px;
}

h1 {
    margin: 0;
    font-family: 'Advent Pro', sans-serif;
    font-size: 3rem;
    letter-spacing: 1.5px;
    line-height: 1em;
    text-transform: uppercase;
}

h3 {
    font-weight: 400;
}

button {
    min-width: 100px;
    padding: 0.7em 0.8em;
    background-color: black;
    color: white;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    text-transform: uppercase;
}

p {
    font-size: 0.8rem;
    color: rgb(157, 157, 157);
    font-weight: 100;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    text-transform: uppercase;
}

img {
    // responsive image styles
    max-width: 100%;
    height: auto;
}

// .wrapper {
//     max-width: 1200px;
//     margin: 0 auto;
//     width: 90%;
// }