@font-face {
    font-family: 'Larsseit Thin';
    src: url('../../assets/Larsseit/Larsseit-Thin.otf') format('opentype');
}

// header styles begin
.header {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
}

.header-main-content {
    width: 100%;
    min-height: 30vh;
    display: flex;
}

.hamburger-menu {
    display: block;
    background-color: transparent;
    color: black;
    font-size: 2rem;
    position: fixed;
    width: min-content;
    min-width: 0;
    right: 1.2em;
    top: 23px;
    padding: 0;
    cursor: pointer;
    z-index: 10;
}

.hamburger-menu:hover,
.hamburger-menu:focus {
    background-color: transparent;
    color: black;
}


.header-main-content .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.header-nav-links {
    display: none;
    gap: 2em;

    // mobile settings
    position: fixed;
    flex-direction: column;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 100px;
    text-align: center;
    background-color: black;
    width: 75%;
    max-width: 300px;
    z-index: 5;

    a {
        color: white;

    }
}

.nav-link {
    position: relative;
    border: 1px solid transparent;
}

.nav-link:hover {
    border-bottom: 1px solid black;
}

.flex-header-content {
    display: flex;
    flex-direction: column-reverse;
    // padding: 0 0 0 4em;
    position: relative;
}

// .flex-header-content::before {
//     content: 'DEVELOPER';
//     position: absolute;
//     top: 0;
//     font-size: clamp(0.2rem, 0.6rem + 15vw, 10.2rem);
//     left: calc(100% / 2);
//     margin-left: -48%;
//     font-family: 'Advent Pro', sans-serif;
//     text-shadow: 3px 0px 7px rgba(245, 245, 245, 0.8), -3px 0px 7px rgba(245, 245, 245, 0.8), 0px 4px 7px rgba(245, 245, 245, 0.8);
//     color: white;
//     border: 1px solid white;
//     z-index: -5;
// }

.header-content-info {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    text-align: center;

    .name {
        font-size: 0.85rem;
        letter-spacing: 3px;
        color: rgb(89, 89, 89);
        padding-left: 2.7em;
        position: relative;
        font-family: 'Larsseit Thin', sans-serif;
        text-transform: uppercase;
        
    }

    .name::before {
        content: '';
        height: 1px;
        width: 2em;
        background-color: rgb(214, 214, 214);
        position: absolute;
        top: 0.5em;
        left: 0;
    }
}

// container for header profile pic
.header-img {
    position: relative;
    display: flex;
    justify-content: center;
}

.header-img img {
    width: 60%;
}

.aside-logo {
    text-transform: lowercase;
    border: 1px solid rgb(50, 50, 50);
    padding: 0.3em 0.6em 0.25em 0.6em;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    left: 2.1em;
}

// right-hand side aside
// .theme-mode {
//     max-width: 40px;
//     padding: 0 0.1em 0 0;
//     position: absolute;
//     right: 0;
    
//     .theme-buttons {
//         margin-top: 70px;
//         background-color: rgb(242, 242, 242);
//         border-radius: 30px;
//         padding: 1.8em 0em 2.1em 0em;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         gap: 1.3em;


//         button {
//             -webkit-transform: rotate(90deg);
//             -moz-transform: rotate(90deg);
//             -ms-transform: rotate(90deg);
//             -o-transform: rotate(90deg); 
//             background-color: transparent;
//             border: none;
//             color: black;
//             cursor: pointer;
//             font-size: 0.7rem;
//             text-transform: capitalize;
//         }

//         .light-mode {
//             padding: 7px 10px 7px 20px;
//             border-radius: 30px;
//             background: white url(../../assets/sun.png) 10px 10px no-repeat;
//         }

//         .dark-mode {
//             padding: 7px 10px 7px 36px;
//             background: url(../../assets/moon.png) 10px 10px no-repeat;
//         }
//     }
// }

