@font-face {
    font-family: 'Larsseit Thin';
    src: url('../../assets/Larsseit/Larsseit-Thin.otf') format('opentype');
}

// header styles begin
.header {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
}

.header-main-content {
    // border-right: 2px solid rgb(231, 231, 231);
    // border-left: 2px solid rgb(231, 231, 231);
    width: 100%;
    min-height: 65vh;
    display: flex;
    // margin: 0 0.5em;
}

.hamburger-menu {
    display: none;
}

.header-main-content .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.header-nav {
    // width: max-content;
    // margin: 0 auto;
    // padding: 1.5em 0 0.5em 0;
    display: none;
}

.header-nav-links {
    display: flex;
    gap: 2em;
}

// .theme-buttons {
//     display: flex;
//     flex-direction: column;
// }

.flex-header-content {
    display: flex;
    flex-direction: column-reverse;
    // padding: 0 0 0 4em;
    position: relative;
}

.flex-header-content::before {
    content: 'DEVELOPER';
    position: absolute;
    top: 0;
    font-size: clamp(0.6rem, 0.9rem + 15vw, 10.6rem);
    left: calc(100% / 2);
    margin-left: -48%;
    font-family: 'Advent Pro', sans-serif;
    text-shadow: 3px 0px 7px rgba(245, 245, 245, 0.8), -3px 0px 7px rgba(245, 245, 245, 0.8), 0px 4px 7px rgba(245, 245, 245, 0.8);
    color: white;
    border: 1px solid white;
    z-index: -5;
}

.header-content-info {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    text-align: center;

    .name {
        font-size: 0.85rem;
        letter-spacing: 3px;
        color: rgb(89, 89, 89);
        padding-left: 2.7em;
        position: relative;
        font-family: 'Larsseit Thin', sans-serif;
        text-transform: uppercase;
        
    }

    .name::before {
        content: '';
        height: 1px;
        width: 2em;
        background-color: rgb(214, 214, 214);
        position: absolute;
        top: 0.5em;
        left: 0;
    }
}

// container for header profile pic
.header-img {
    position: relative;
    display: flex;
    justify-content: center;
}

.header-img img {
    width: 60%;
}

// star styling
// star design came from following tutorial
// https://coursesweb.net/css/star-shapes-css_cs
// .star {
//     top: -180px;
//     left: 180px;
//     position: relative;
//     display: block;
//     width: 0px;
//     height: 0px;
//     border-right: 100px solid transparent;
//     border-bottom: 70px solid rgb(42, 41, 42);
//     border-left: 100px solid transparent;
//     -moz-transform: rotate(0deg);
//     -webkit-transform: rotate(0deg);
//     -ms-transform: rotate(0deg);
//     -o-transform: rotate(0deg);
// }

// .star::before {
//     border-bottom: 80px solid rgb(42, 41, 42);
//     border-left: 30px solid transparent;
//     border-right: 30px solid transparent;
//     position: absolute;
//     height: 0;
//     width: 0;
//     top: -45px;
//     left: -65px;
//     display: block;
//     content:"";
//     -webkit-transform: rotate(-35deg);
//     -moz-transform: rotate(-35deg);
//     -ms-transform: rotate(-35deg);
//     -o-transform: rotate(-35deg);
// }

// .star::after {
//  position: absolute;
//  display: block;
//  top: 3px;
//  left: -105px;
//  width: 0px;
//  height: 0px;
//  border-right: 100px solid transparent;
//  border-bottom: 70px solid rgb(42, 41, 42);
//  border-left: 100px solid transparent;
//  -webkit-transform: rotate(-70deg);
//  -moz-transform: rotate(-70deg);
//  -ms-transform: rotate(-70deg);
//  -o-transform: rotate(-70deg); 
//  content:"";
// }

// .circle {
//     color: white;
//     position: absolute;
//     left: -60px;
//     bottom: -100px;
//     z-index: 10;
//     background-color: rgb(50, 50, 50);
//     border-radius: 50%;
//     word-break: normal;
//     width: 110px;
//     height: 110px;

//     // positioning words
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     text-align: center;
//     span {
//         font-size: 1.8rem;
//         font-family: 'Larsseit', sans-serif;
//     }

//     .span-word {
//         font-size: 0.7rem;
//         color: rgb(82, 82, 82);
//         text-transform: lowercase;
//     }
// }


// left hand side aside
// .social-links {
//     padding: 1.2em 0;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     align-items: center;
//     margin: 0 auto;
//     position: absolute;
//     left: 0;

//     .social-links-list {
//         position: relative;
//         margin-top: 65px;
//         display: flex;
//         flex-direction: column;
//         align-items: center;

//         li {
//             -webkit-transform: rotate(90deg);
//             -moz-transform: rotate(90deg);
//             -ms-transform: rotate(90deg);
//             -o-transform: rotate(90deg); 
//             margin-bottom: 1em;
//             color: rgb(89, 89, 89);
//             font-size: 0.8rem;
//             letter-spacing: 1px;
//         }
//     }

//     .social-links-list::before {
//         content: '';
//         width: 1px;
//         height: 20px;
//         background-color: rgb(214, 214, 214);
//         position: absolute;
//         bottom: 118px;
//     }
// }

.aside-logo {
    text-transform: lowercase;
    border: 1px solid rgb(50, 50, 50);
    padding: 0.3em 0.6em 0.25em 0.6em;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 10px;
}

// right-hand side aside
// .theme-mode {
//     max-width: 40px;
//     padding: 0 0.1em 0 0;
//     position: absolute;
//     right: 0;
    
//     .theme-buttons {
//         margin-top: 70px;
//         background-color: rgb(242, 242, 242);
//         border-radius: 30px;
//         padding: 1.8em 0em 2.1em 0em;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         gap: 1.3em;


//         button {
//             -webkit-transform: rotate(90deg);
//             -moz-transform: rotate(90deg);
//             -ms-transform: rotate(90deg);
//             -o-transform: rotate(90deg); 
//             background-color: transparent;
//             border: none;
//             color: black;
//             cursor: pointer;
//             font-size: 0.7rem;
//             text-transform: capitalize;
//         }

//         .light-mode {
//             padding: 7px 10px 7px 20px;
//             border-radius: 30px;
//             background: white url(../../assets/sun.png) 10px 10px no-repeat;
//         }

//         .dark-mode {
//             padding: 7px 10px 7px 36px;
//             background: url(../../assets/moon.png) 10px 10px no-repeat;
//         }
//     }
// }

