// .projects start here
.projects {
    padding: 1em 0;

    .project-list {
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            justify-content: center;
        }
    }

    .wrapper {
        width: 90%;
        margin: 0 auto;
        max-width: 900px;
    }
}

.project-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(10%);
    width: max-content;
    margin: 0 auto;
    left: 0;
    right: 0;
    
    span {
        margin-right: 10px;
        letter-spacing: 1.5px;
    }
}

.project-text::after {
    content: '';
    height: 2px;
    width: 100%;
    top: 60px;
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    position:   absolute;
}

// hover animations
.project-content-long img,
.project-content-short img {
    -webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

.tech-stack {
    opacity: 1;
    display: flex;

}

.project-content-short,
.project-content-long {
    position: relative;
    max-width: 450px;
    display: flex;
    flex-direction: column;
}

.project-content-short img {
    width: 450px;
    height: 450px;
    object-fit: cover;
    border: 1px solid black;
    // opacity: 0.6;
}

.project-content-long img {
    width: 450px;
    height: 557px;
    object-fit: cover;
    border: 1px solid black;
}

.project-title {
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    padding: 0.2em 1em;

    p {
        text-transform: uppercase;
    }
}

.project-links {
    padding-top: 0.25em;
    flex-shrink: 0;
}

.project-links * {
    margin-left: 0.4em;
}

.project-links a:hover,
.project-links a:active {
    text-shadow: 2px 4px 3px rgba(251, 206, 54, 0.3);
}