// .projects start here
.projects {
    padding: 1em 0;

    ul {
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            justify-content: center;
        }
    }

    .wrapper {
        width: 90%;
        margin: 0 auto;
        max-width: 900px;
    }
}

.project-text {
    display: flex;
    justify-content: space-between;
    padding: 0.9em 0 2.4em 0;
    
    span {
        padding-top: 0.2em;
        margin-right: 20px;
        letter-spacing: 1.5px;
    }
}

.project-content-short,
.project-content-long {
    max-width: 450px;
    display: flex;
    flex-direction: column;
}

.project-content-short img {
    width: 450px;
    height: 450px;
    object-fit: cover;
    border: 1px solid black;
}

.project-content-long img {
    width: 450px;
    height: 557px;
    object-fit: cover;
    border: 1px solid black;
}

.project-title {
    padding: 0.2em 0 0 0;

    h3 {
        margin-bottom: 0.2em;
    }

    p {
        text-transform: uppercase;
    }
}

.project-links {
    padding-top: 0.25em;
    flex-shrink: 0;
}

.project-links * {
    margin-left: 0.4em;
}

.project-links a:hover,
.project-links a:active {
    text-shadow: 2px 4px 3px rgba(251, 206, 54, 0.3);
}