// imports
@font-face {
    font-family: 'Larsseit-Thin';
    src: url('../../assets/Larsseit/Larsseit-Thin.otf') format('opentype');
}

// main begins
// services section begins here
.services {
    text-align: center;
    padding: 0 2em;

    h2 {
        font-size: 1.5rem;
        text-transform: capitalize;
        margin: 1em auto 1.5em auto;
        max-width: 300px;
    }

}

// article container
.skills {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

// article styling
.branding {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    margin: 0 auto;
    h3 {
        text-transform: capitalize;
        margin-bottom: 0.6em;
    }

    p {
        text-transform: lowercase;
    }

    .services-span {
        font-family: 'Larsseit-Thin';
        font-size: 2.3rem;
        color: rgb(193, 193, 193);
        letter-spacing: 1.5px;
        margin-bottom: 0.5em;
    }
}
