@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Larsseit";
  src: url("../../assets/Larsseit/Larsseit.otf") format("opentype");
  src: url("../../assets/Larsseit/Larsseit-Medium.otf") format("opentype");
  src: url("../../assets/Larsseit/Larsseit-Thin.otf") format("opentype");
}
html {
  font-size: 125%;
}

body {
  font-family: "Larsseit", sans-serif;
}

header,
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.5em;
}

h1 {
  margin: 0;
  font-family: "Advent Pro", sans-serif;
  font-size: 3rem;
  letter-spacing: 1.5px;
  line-height: 1em;
  text-transform: uppercase;
}

h3 {
  font-weight: 400;
}

button {
  min-width: 140px;
  padding: 0.7em 1.3em;
  background-color: black;
  color: white;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: color 0.18s ease-in, background-color 0.2s ease-in;
  transition: color 0.18s ease-in, background-color 0.2s ease-in;
}

button:hover,
button:focus {
  background-color: #5a5a5a;
  color: #ebebeb;
}

p,
input,
textarea {
  font-size: 0.8rem;
  color: #515151;
  font-weight: 100;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Larsseit Thin";
  src: url("../../assets/Larsseit/Larsseit-Thin.otf") format("opentype");
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header-main-content {
  width: 100%;
  min-height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-main-content .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav {
  display: none;
}

.header-nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
}

.theme-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: relative;
}

.flex-header-content::before {
  content: "DEVELOPER";
  position: absolute;
  top: 0;
  right: 0;
  left: clamp(0.05em, 0.05em + 2vw, 3em);
  font-size: clamp(0.6rem, 0.6rem + 16.7vw, 12.5rem);
  font-family: "Advent Pro", sans-serif;
  text-shadow: 3px 0px 7px rgba(245, 245, 245, 0.8), -3px 0px 7px rgba(245, 245, 245, 0.8), 0px 4px 7px rgba(245, 245, 245, 0.8);
  color: white;
  border: 1px solid white;
  z-index: -5;
}

.header-content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.header-content-info .name {
  font-size: 0.85rem;
  letter-spacing: 3px;
  color: #595959;
  padding-left: 2.7em;
  position: relative;
  font-family: "Larsseit Thin", sans-serif;
  text-transform: uppercase;
}
.header-content-info .name::before {
  content: "";
  height: 1px;
  width: 2em;
  background-color: #d6d6d6;
  position: absolute;
  top: 0.5em;
  left: 0;
}

.header-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-img img {
  width: 60%;
}

.social-links {
  padding: 1.2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  position: absolute;
  left: 0;
}
.social-links .social-links-list {
  position: relative;
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-links .social-links-list li {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  margin-bottom: 1em;
  color: #595959;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.social-links .social-links-list::before {
  content: "";
  width: 1px;
  height: 20px;
  background-color: #d6d6d6;
  position: absolute;
  bottom: 118px;
}

.aside-logo {
  text-transform: lowercase;
  border: 1px solid #323232;
  padding: 0.3em 0.6em 0.25em 0.6em;
  border-radius: 50%;
}

.theme-mode {
  max-width: 40px;
  padding: 0 0.1em 0 0;
  position: absolute;
  right: 0;
}
.theme-mode .theme-buttons {
  margin-top: 70px;
  background-color: #f2f2f2;
  border-radius: 30px;
  padding: 1.8em 0em 2.1em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3em;
}
.theme-mode .theme-buttons button {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 0.7rem;
  text-transform: capitalize;
}
.theme-mode .theme-buttons .light-mode {
  padding: 7px 10px 7px 20px;
  border-radius: 30px;
  background: white url(../../assets/sun.png) 10px 10px no-repeat;
}
.theme-mode .theme-buttons .dark-mode {
  padding: 7px 10px 7px 36px;
  background: url(../../assets/moon.png) 10px 10px no-repeat;
}

@font-face {
  font-family: "Larsseit-Thin";
  src: url("../../assets/Larsseit/Larsseit-Thin.otf") format("opentype");
}
.services {
  text-align: center;
  padding: 2.5em 0;
}
.services h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 0em auto 1.5em auto;
  max-width: 300px;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
}

.branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 280px;
  margin: 0 auto;
}
.branding h3 {
  text-transform: capitalize;
  margin-bottom: 0.6em;
}
.branding p {
  text-transform: lowercase;
}
.branding .services-span {
  font-family: "Larsseit-Thin";
  font-size: 2.3rem;
  color: #c1c1c1;
  letter-spacing: 1.5px;
  margin-bottom: 0.5em;
}

.about-me {
  text-align: center;
  padding: 3em 0 3.6em 0;
  line-height: 1.2em;
}
.about-me .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5em;
}
.about-me h2 {
  font-size: 1.2rem;
}

.projects {
  padding: 2.5em 0;
}
.projects ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.projects ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projects .wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 700px;
}

.project-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.9em 0 2.4em 0;
}
.project-text span {
  padding-top: 0.2em;
  margin-right: 20px;
  letter-spacing: 1.5px;
}

.project-content-short,
.project-content-long {
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-title {
  padding: 0.2em 0 0 0;
}
.project-title h3 {
  margin-bottom: 0.2em;
}
.project-title p {
  text-transform: uppercase;
}

.project-links {
  padding-top: 0.25em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.contact-me {
  padding: 2.5em 0;
  text-align: center;
}
.contact-me .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
}
.contact-me .wrapper h2 {
  max-width: 300px;
  font-size: 2rem;
}
.contact-me .wrapper .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5em;
  margin: 1em 0;
}
.contact-me .wrapper .contact-info h3 {
  margin-bottom: 0.3em;
}
.contact-me .wrapper .contact-info-work {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  width: calc(100% / 3);
}
.contact-me .wrapper .contact-info-work::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fbce36;
  position: absolute;
  left: -5px;
}
.contact-me .wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 800px;
}
.contact-me .wrapper form input,
.contact-me .wrapper form textarea {
  width: 100%;
  margin-bottom: 0.5em;
  border: none;
  border: 1px solid #d0d0d0;
  padding: 0.8em 0 0.8em 1.3em;
  font-size: 0.8rem;
  font-weight: 100;
}
.contact-me .wrapper input::-webkit-input-placeholder, .contact-me .wrapper textarea::-webkit-input-placeholder {
  color: #515151;
  opacity: 0.8;
}
.contact-me .wrapper input::-moz-placeholder, .contact-me .wrapper textarea::-moz-placeholder {
  color: #515151;
  opacity: 0.8;
}
.contact-me .wrapper input:-ms-input-placeholder, .contact-me .wrapper textarea:-ms-input-placeholder {
  color: #515151;
  opacity: 0.8;
}
.contact-me .wrapper input::-ms-input-placeholder, .contact-me .wrapper textarea::-ms-input-placeholder {
  color: #515151;
  opacity: 0.8;
}
.contact-me .wrapper input::placeholder,
.contact-me .wrapper textarea::placeholder {
  color: #515151;
  opacity: 0.8;
}
.contact-me .wrapper .btn-container {
  margin: 0 auto;
}

@media (min-width: 650px) {
  .header-main-content {
    border-right: 2px solid #e7e7e7;
    border-left: 2px solid #e7e7e7;
    min-height: 65vh;
  }

  .header-nav {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    padding: 1.5em 0 0.5em 0;
    display: block;
  }

  .flex-header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 0 0 4em;
    position: relative;
  }

  .flex-header-content::before {
    font-size: clamp(0.7rem, 0.6rem + 15vw, 12.5rem);
  }

  .header-main-content {
    margin: 0 0.5em;
  }

  .social-links {
    position: relative;
  }
  .social-links .social-links-list {
    position: relative;
    margin-top: 28vh;
  }
  .social-links .social-links-list .social-links-list::before {
    height: 50px;
  }

  .theme-mode {
    position: relative;
    margin-top: 22vh;
  }

  .header-img img {
    width: 750px;
  }

  .header-content-info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: start;
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 100px;
  }

  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
  }

  main {
    padding: 0px 60px 0 57.5px;
  }

  .services {
    border-right: 2px solid #e7e7e7;
    border-left: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
  }
  .services .skills {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about-me {
    border-right: 2px solid #e7e7e7;
    border-left: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
  }
  .about-me .wrapper {
    max-width: 700px;
  }

  .projects {
    border-right: 2px solid #e7e7e7;
    border-left: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
  }

  .contact-me {
    border-right: 2px solid #e7e7e7;
    border-left: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
  }
}
@media (min-width: 750px) {
  .projects ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .projects ul li {
    width: calc(50% - 1.4em);
    margin: 0.7em;
  }
  .projects li:nth-child(3) .project-content-long {
    margin-top: -107px;
  }
  .projects .project-text {
    padding: 0.9em 0 1em 0;
  }

  .contact-me .wrapper form input {
    width: calc(50% - 0.5em);
  }
  .contact-me .wrapper form input:first-of-type {
    margin-right: 1em;
  }
  .contact-me .wrapper .contact-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}